<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动管理</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/js.js"></script>
</head>
<div class="siteWrap">
    <div class="site">
        <div class="site_left">
            <img src="../images/logo.png" height="30" width="147" alt="">
        </div>
        <div class="site_right">
            <ul class="site_ul">
                <li class="site_people"></li>
                <li class="site_li1">adma</li>
                <li class="site_peo"></li>
                <li class="site_word"><a href="javascript:void(0);">设置</a>
                    <ul class="site_dropUp">
                        <li class="site_Bord"><a href="/account">个人账户</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navWrap">
    <div class="nav hardnav">
        <ul class="nav_ul">
            <li  class="current" id="asset"><a href="../asset">资产统计</a></li>
            <li id="activity"><a href="../activity">活动管理</a></li>
            <li id="user"><a href="../user">用户管理</a></li>
            <li id="transfer"><a href="../transfer">充值</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">

</script>

<div class="activity-find ranking" style="min-height: 650px;">
        <div class="activity_stati">
            <div class="act_show"></div>
            <ul class="act_ul">
                <li class="act_tit">财富榜</li>
                <li class="act_time"></li>
                <li class="act_word"><%=new Date().Format('yyyy/MM/dd hh:mm:ss')%></li>
            </ul>
        </div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>排名</th>
                <th>用户hash</th>
                <th>用户名</th>
                <th>财富值</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i in data){%>
                <tr>
                    <td><%=parseInt(i)+1%></td>
                    <td><a href="/user/userDetail?userHash=<%=data[i].userId%>&userName=<%=data[i].name%>" target="_blank"><%=data[i].userId%></a></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].balance/10000%></td>
                </tr>
        <%}%>
        </tbody>
    </table>
</div>






<div class="footer1">
    Copyright © 2015.Company PeerSafe All rights reserved.
</div>
</html>